<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="styles.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplos de Layouts</title>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar__list">
      <li class="navbar__item" href="">
        <a class="navbar__link">Home</a>
      </li>
      <li class="navbar__item" href="">
        <a class="navbar__link">Contact us</a>
      </li>
      <li class="navbar__item" href="">
        <a class="navbar__link">Contact</a>
      </li>
    </ul>
  </nav>
  <br>
  <br>
  <br>
  <hr>
  <br>
  <br>
  <br>
  <nav class="navbar--flex">
    <ul class="navbar__list--flex">
      <li class="navbar__item--flex" href=""><a class="navbar__link--flex">Flex box</a></li>
      <li class="navbar__item--flex" href=""><a class="navbar__link--flex">About us</a></li>
      <li class="navbar__item--flex" href=""><a class="navbar__link--flex">Contact</a></li>
    </ul>
  </nav>
  <br>
  <br>
  <br>
  <hr>
  <br>
  <br>
  <br>
  <nav class="navbar--grid">
    <ul class="navbar__list--grid">
      <li class="navbar__item--grid" href=""><a class="navbar__link--grid">Grid box</a></li>
      <li class="navbar__item--grid" href=""><a class="navbar__link--grid">About us</a></li>
      <li class="navbar__item--grid" href=""><a class="navbar__link--grid">Contact</a></li>
    </ul>
  </nav>
  <br>
  <br>
  <br>
  <hr>
  <br>
  <br>
  <br>
  <nav class="navbar--mobile">
    <ul class="navbar__list--mobile">
      <li class="navbar__item--mobile" href=""><a class="navbar__link--mobile">Flex box</a></li>
      <li class="navbar__item--mobile" href=""><a class="navbar__link--mobile">About us</a></li>
      <li class="navbar__item--mobile" href=""><a class="navbar__link--mobile">Contact</a></li>
    </ul>
  </nav>
</body>
</html>
